<div>新規投稿ページ</div>
<%= form_with model: @post, local: true do |f| %>

  <p><%= f.label :name, "タイトル" %></p>
  <p><%= f.text_field :name %></p>

  <p><%= f.label :words, "タグ" %></p>
  <p><%= f.text_field :words %></p>

  <%= f.submit '投稿' %>

<% end %>
<%= link_to "戻る", root_path%>